body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-burger {
  margin: 0 auto;
  width: fit-content;
}

.top-bun__container,
.vegetables__container,
.cheese__container,
.patty__container,
.bottom-bun__container {
  height: auto;
  width: 25vw;
}

/* Flickity CSS */

.carousel-cell {
  width: 100%;
}

.main-carousel {
  height: 100px;
}
